<div id="<%= dom_id philosopher %>">
  <p>
    <strong>Fname:</strong>
    <%= philosopher.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= philosopher.lname %>
  </p>

  <p>
    <strong>Birth year:</strong>
    <%= philosopher.birth_year %>
  </p>

  <p>
    <strong>Death year:</strong>
    <%= philosopher.death_year %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= philosopher.biography %>
  </p>

</div>
