<p style="color: green"><%= notice %></p>

<%= render @philosopher %>

<div>
  <%= link_to "Edit this philosopher", edit_philosopher_path(@philosopher) %> |
  <%= link_to "Back to philosophers", philosophers_path %>

  <%= button_to "Destroy this philosopher", @philosopher, method: :delete %>
</div>
