<p style="color: green"><%= notice %></p>

<%= render @quote %>

<div class="quote-actions" style="margin-top: 20px; margin-bottom: 20px;">
  <%= link_to "Edit this quote", edit_quote_path(@quote), class: "btn btn-secondary me-2" %> <!-- Added 'me-2' for right margin -->
  <%= link_to "Back to quotes", quotes_path, class: "btn btn-link me-2" %> <!-- Added 'me-2' for right margin -->

  <% if current_user == @quote.user || current_user&.is_admin %>
    <%= button_to "Destroy this quote", @quote, method: :delete, data: { confirm: "Are you sure you want to delete this quote?" }, class: "btn btn-danger" %>
  <% end %>
</div>
